body {
  font-family: "Times Header";
  color: #006666;
}

#navigationBar ul {
    list-style-type: none;
    margin: auto;
    padding: 22px;
    width: 100%;
}

#navigationBar li {
    display: block;
    padding: 5px;
    text-align: center;
    display: inline;
}

#navigationBar li a {
    color: black;
    text-decoration: none;
}

#navigationBar li a:hover {
  text-decoration: underline;
}

.active {
  text-decoration: underline;
}
