body {
  font-family: "Arial";
}

#navigationBar ul {
    list-style-type: none;
    margin: auto;
    padding: 10px;
}

#navigationBar li {
    display: block;
    float: left;
    padding: 5px;
    text-align: center;
}

#navigationBar li a {
    color: black;
    text-decoration: none;
}

#navigationBar li a:hover {
  text-decoration: underline;
}
