#wrapper {
  margin: 20px auto auto auto;
  padding: 15px 20px 5px 20px;
  width: 43%;
  height: auto;

  background-color: #f2f2f2;
  text-align: center;
  font-family: "Arial";
}

#orderByContainer {
  padding: 15px;
}

#submitStyle {
  padding: 15px;
}

#neverPurchased {
  padding: 5px;

  text-align: center;
  width: 175px;
  height: 175px;

  position: absolute;
  bottom: 225px;
  left: 250px;
  float: left;
}

#neverPurchased span {
  color: grey;
  margin-top: 2px;
}

#neverPurchased ul {
  list-style-type: none;
}

#neverPurchased ul li {
  font-size: 15px;
  margin-top: 10px;
}
