#wrapper {
  margin: 20px auto auto auto;
  padding: 15px 20px 15px 20px;
  width: 43%;
  height: auto;

  background-color: #f2f2f2;
  text-align: center;
  font-family: "Arial";
}

#tablestyle {
  padding: 10px;

  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  width: auto;
}

#submission {
  width: 220px;
  height: 35px;
  margin-left: auto;
  margin-right: center;
}
