#organizebuttons {
  padding: 10px;
  width: 140px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#organizebuttons span {
  text-align: center;
}

#customers {
  text-align: center;
  
}

#customers div {
  background-color: #e1eaea;
  padding: 10px;
  margin: 1px;
  float: left;
<<<<<<< HEAD
  
  position: relative;
  left: auto;
  right: auto;


  height: auto;
  width: auto;
=======
  height: 75px;
  width: 250px;
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD

>>>>>>> 3a0064399f56c192b6339ee8e3f3cefe9f5412a5
=======
  border-radius: 2px;
>>>>>>> c36826fd395a069f5cd886393d3b56b98e12e305
=======
  border-radius: 5px;
>>>>>>> 6cc2fdece16fc40f707c057c9f1ad9b6664f99ab
=======
  border-radius: 20px;
>>>>>>> 30da42fd1654426d01aa72a237f1c6ebbbeaa603
=======
>>>>>>> 7dc25f6ad544a319360788e5f70dbef0405a32e6
}

#customers div:hover {
  background-color: #ffffff;
}

#submit {
  padding: 10px;
  width: 180px;
  height: 60px;

<<<<<<< HEAD
<<<<<<< HEAD
  position: absolute;
  top: 500px;
  right: 620px;
<<<<<<< HEAD
=======

>>>>>>> 3a0064399f56c192b6339ee8e3f3cefe9f5412a5
=======
>>>>>>> de454755ea3da25c5b35b8d1e2dc32470d9c5073
=======
  position: relative;
  top: 250px;
<<<<<<< HEAD
  right: 450px;
>>>>>>> 42e00466bdac1a28df6ab6c052fd3fe6ca25a4ce
=======
>>>>>>> 48c7d17054d8600b23c2e3fad4411cfbc9573997
}
