#wrapper {
  padding: 8px;
  background-color: #FF7373;
  width: 50%;
  height: 90%;
  margin: auto;
  text-align: center;
}

.customerSelect {
  display: inline;
}

#productButtons {
  display: inline;
}

#qualityTxt {
  display: inline;
}

#productButtons, #qualityTxt {
  margin-left: 250px;
  width: 200px;
  height: 150px;
}

#subButton {
  display: block;
}
