#customers {
  display: table;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
}

#customers div {
  display: inline-block;
  background-color: #e1eaea;
  padding: 10px;
  margin: 15px;
  float: left;
  height: auto;
  width: auto;
}

#customers div:hover {
  background-color: #ffffff;
}

#organizebuttons {
  padding: 10px;
  width: fit-content;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
}

#organizebuttons {
  padding: 10px;
  width: fit-content;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
}

#submit {
  width: 180px;
  height: 60px;

  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  display: block;
}

#purchasedListContainer {
  margin: 20px auto auto auto;
  padding: 15px;
  width: 325px;
  height: auto;

  list-style-type: none;
  background-color: #e1eaea;
  text-align: center;
}
