#wrapper {
  margin: 20px auto auto auto;
  padding: 15px 20px 15px 20px;
  width: 43%;
  height: auto;

  background-color: #f2f2f2;
  text-align: center;
}

#tableContainer {
  padding: 25px;
  height: auto;
  width: 100%;
}

#tableContainer td {
  padding: 10px 0px 10px 0px;
}

label {
  display: table;
  font-size: 16px;
}

#tableContainer input[type="text"] {
    padding: 5px 20px 5px 20px;
}

#submission {
  width: 220px;
  height: 35px;
  margin: 20px auto 15px 25px;
  display: table;
}

#deleteContainer {
  
}
