#wrapper {
  padding: 20px;
  background-color: #f2f2f2;
  width: 50%;
  height: 100%;
  margin: auto auto 0 auto;
  text-align: center;

  font-family: "Arial";
}

.customerSelect  {
  display: inline;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px 12px 5px 12px;

  color: #FF7373;
}

.customerSelect select {
  color: black;
}

#productButtons {
  display: inline;
  padding: 4px 8px 4px 8px;
  width: 200px;
  height: 150px;
}

#productButtons input[type="radio"] {
  vertical-align: baseline;
  padding: 10px;
  margin: 10px;
}

#qualityTxt {
  display: inline;
  margin: 10px 0 0 0;
}

#subButton {
  display: inline;
  float: right;
  height: 30px;
  width: auto;
}
