#organizebuttons {
  padding: 10px;
  width: 140px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#organizebuttons span {
  text-align: center;
}

#customers div {
  background-color: #e1eaea;
  padding: 10px;
  margin: 1px;
  float: left;
  height: 75px;
  width: 250px;
}

#customers div:hover {
  background-color: #ffffff;
}

#submit {
  padding: 10px;
  width: 180px;
  height: 60px;

  position: relative;
  top: 200px;
  left: 150px;
}
