#showproduct {
  margin-top: 30px;
  margin-left: 30px;
}

#showproduct span {
  font-size: 15px;
  color: grey;
}

#subutton{
  padding: 8px;
}

#neverPurchased {
  text-align: center;
  background-color: #f2f2f2;
  width: 175px;
  height: 175px;

  position: absolute;
  bottom: 250px;
  float: left;
}

#neverPurchased span {
  text-decoration: underline;
}

#neverPurchased ul {
  list-style-type: none;
}

#neverPurchased ul li {
  text-align: center;
  margin: auto;
  font-size: 14px;
}
