#wrapper {
  display: block;
  margin: 20px auto auto auto;
  padding: 15px 20px 30px 20px;
  width: 43%;
  height: auto;

  background-color: #f2f2f2;
  text-align: center;
}

#updateNumberContainer {
  width: 400px;
  height: auto;
  margin: auto;
}

#updateNumberContainer select {
  padding: 5px;
  margin: 10px 0px 10px 0px;
}

#updateNumberContainer input[type="text"] {
  padding: 5px;
  margin: 10px 0px 10px 0px;
}

#updateNumberContainer input[type="submit"] {
  padding: 5px 8px 5px 8px;
  margin: 10px 0px 10px 0px;
}
