#wrapper {
  padding: 20px;
  background-color: #f2f2f2;
  width: 50%;
  height: 100%;
  margin: auto auto auto auto;
  text-align: center;
}

.customerSelect {
  display: inline;
  margin-top: 10px;
  margin-bottom: 10px;
}

#productButtons {
  display: inline;
  padding: 4px 8px 4px 8px;
  width: 200px;
  height: 150px;
}

#qualityTxt {
  display: inline;
  margin: 10px 0 0 0;
}

#subButton {
  display: block;
  float: right;
  height: 30px;
  width: auto;
}
